################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/POO_Final/v16/Server/sqlite3
/.vs/POO_Final/v15
